<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        <div class="footertext">
            <p class="foo-logo" style="background-image: url('/img/sakura.svg');"></p>
            <p><%- theme.footer.content %> </p>
        </div>
        <div class="footer-device">
            <p style="font-family: 'Ubuntu', sans-serif;">
				<span>Powered 
 					<i class="fa fa-vimeo animated" style="color: #e74c3c;"></i> 
					by 
					<a rel="me" target="_blank" href="http://hexo.io" title="一个优秀的静态博客生成器" style="text-decoration:none;">hexo</a>
				</span>
				 •
				<span>theme with
 					<i class="fa fa-heart animated" style="color: #e74c3c;"></i> 
					<a rel="me" target="_blank" href="https://github.com/XiangHeProject/webside" style="text-decoration:none;">Sakura</a>
				</span>
			</p>
        </div>
    </div>
</footer>


<
<%- js_ex(theme.static_prefix.nprogress, 'nprogress.min.js') %>
<script src="/js/img-lazyload.js"></script>
<script src="/js/boot.js"></script>