#content {
	-webkit-animation: main 1s;
	animation: main 1s;
}

.headertop,
.pattern-center {
	-webkit-animation: header 1s;
	animation: header 1s;
}

.notice,
.top-feature,
.post-list-thumb,
.post-list,
.comments {
	-webkit-animation: main .6s;
	animation: main .6s;
}

@-webkit-keyframes main {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes main {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.site-content {
	max-width: 800px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent !important
}

.site-main{
    display: block;
    padding: 40px 0 0
}



::-webkit-scrollbar-thumb {
    background: #fe9600
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color:#eee
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

body{
    margin: 0;
}

.serif {
    font-family: 'Noto Serif SC','Source Han Serif SC','Source Han Serif',source-han-serif-sc,'PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif;
}

* {
    box-sizing: border-box;
}


a {
	background-color: transparent;
	text-decoration: none;
}

a:active,
a:hover {
	outline: none;
}

a {
    color: #e67474;
    outline: 0;
    transition:color .2s ease-out, border .2s ease-out, opacity .2s ease-out
}

a:active, a:focus, a:hover {
    color:orange
}

a:focus {
    outline:0
}

a:active, a:hover {
    outline: 0;
    color:orange
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: ""
}

blockquote,
q {
	quotes: """"
}

img {
	height: auto;
	max-width: 100%
}

table {
	width: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

#centerbg{
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    background-position: center center;
    padding-top: 1px;
}

#centerbg::before{
    content:" ";
    background-image: url("/img/grid.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-attachment: fixed;
}

.openNav {
	display: none
}

#mo-nav {
	display: none
}

@media (max-width:860px) {
	#centerbg {
		height: 300px;
		background-attachment: scroll
	}

	.focusinfo,
	#video-container {
		display: none
	}
}

.focusinfo {
    position: relative;
    max-width: 800px;
    padding: 0 10px;
    top: 49.3%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
    z-index: 99;
    transition: .4s ease all;
}

.center-text {
    margin: auto;
    font-size:80px;
    font-family: Ubuntu,sans-serif;
    font-weight: bold;
}

.glitch {
    position: relative;
    color: #fff;
    mix-blend-mode: lighten;
    overflow: hidden;
    white-space:nowrap
}

.glitch:after, .glitch:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    clip:rect(0, 0, 0, 0);
    height: 100%;
    z-index: 3;
}

.glitch:before {
    left: -1px;
    text-shadow:1px 0 #ff3f1a
}

.glitch:after {
    left: 1px;
    text-shadow:-1px 0 #00a7e0
}

.glitch:hover:before {
    text-shadow: 4px 0 #ff3f1a;
    animation:glitch-loop-1 .8s infinite ease-in-out alternate-reverse
}

.glitch:hover:after {
    text-shadow: -5px 0 #00a7e0;
    animation:glitch-loop-2 .8s infinite ease-in-out alternate-reverse
}

@-webkit-keyframes glitch-loop-1 {
    0% {
        clip:rect(36px, 9999px, 9px, 0)
    }

    25% {
        clip:rect(25px, 9999px, 99px, 0)
    }

    50% {
        clip:rect(50px, 9999px, 102px, 0)
    }

    75% {
        clip:rect(30px, 9999px, 92px, 0)
    }

    100% {
        clip:rect(91px, 9999px, 98px, 0)
    }
}

@keyframes glitch-loop-1 {
    0% {
        clip:rect(36px, 9999px, 9px, 0)
    }

    25% {
        clip:rect(25px, 9999px, 99px, 0)
    }

    50% {
        clip:rect(50px, 9999px, 102px, 0)
    }

    75% {
        clip:rect(30px, 9999px, 92px, 0)
    }

    100% {
        clip:rect(91px, 9999px, 98px, 0)
    }
}

@-webkit-keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip:rect(65px, 9999px, 119px, 0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip:rect(79px, 9999px, 19px, 0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip:rect(68px, 9999px, 11px, 0)
    }

    75% {
        top: 0;
        left: -4px;
        clip:rect(95px, 9999px, 53px, 0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip:rect(31px, 9999px, 149px, 0)
    }
}

@keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip:rect(65px, 9999px, 119px, 0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip:rect(79px, 9999px, 19px, 0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip:rect(68px, 9999px, 11px, 0)
    }

    75% {
        top: 0;
        left: -4px;
        clip:rect(95px, 9999px, 53px, 0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip:rect(31px, 9999px, 149px, 0)
    }
}

.header-info {
    width: 63%;
    margin: auto;
    font-size: 16px;
    color: #eaeadf;
    background: rgba(0,0,0,.5);
    padding: 15px;
    margin-top: 22px;
    letter-spacing: 0;
    line-height: 30px;
    border-radius: 10px;
    box-sizing: initial;
    white-space: nowrap;
}

.header-info p {
    margin: 0;
    font-family: Ubuntu,sans-serif;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
}

.focusinfo img {
    width: 130px;
    height: auto;
    padding: 2px;
    border-radius: 100%;
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform:translateY(0)
    }

    50% {
        -webkit-transform: translateY(-6px);
        transform:translateY(-6px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform:translateY(0)
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform:translateY(0)
    }

    50% {
        -webkit-transform: translateY(-6px);
        transform:translateY(-6px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform:translateY(0)
    }
}

.faa-float.animated, .faa-float.animated-hover:hover, .faa-parent.animated-hover:hover>.faa-float {
    -webkit-animation: float 2s linear infinite;
    animation: float 2s linear infinite;
}

.headertop-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    cursor: pointer;
    z-index: 5;
}

@media (max-width:860px) {
	.headertop-down {
		display: none
	}
}

.headertop-down i {
    font-size: 28px;
    color: #fff;
    transform: scale(1.5,1);
}

.site-footer {
    padding: 2%;
    background: rgba(255,255,255,.8);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.site-footer::before{
    content: '';
    display: table;
    table-layout: fixed;
}

.site-info {
    text-align: center;
    font-size: 13px;
    color: #b9b9b9;
}

.site-info a{
    color: #b9b9b9;
}

.site-info a:hover{
    color: #fe9600;
}

.m-cd-top {
	display: none;
	opacity: 0;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 99;
	border: 0;
	outline: 0;
	background-color: #fff;
	color: #404040;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	border-radius: 12px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .12), 0px 2px 2px 0px rgba(0, 0, 0, .24);
	transition: box-shadow .2s ease;
}

.m-cd-top.cd-is-visible {
	opacity: 1;
}

@keyframes poi-deg {
    0% {
        transform:rotate(0)
    }

    100% {
        transform:rotate(360deg)
    }
}

@-webkit-keyframes poi-deg {
    0% {
        transform:rotate(0)
    }

    100% {
        transform:rotate(360deg)
    }
}

.footertext .foo-logo {
    width: 30px;
    height: 30px;
    opacity: .3;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: poi-deg 12s infinite linear;
    -webkit-animation: poi-deg 12s infinite linear;
}

.top-social_v2 {
    height: 32px;
    margin-bottom: -15px;
    margin-left: 10px;
    list-style: none;
    display: inline-block;
}

.top-social_v2 li {
    float: left;
    margin-right: 13px;
}

.top-social_v2 img {
    font-size: 24px;
    height: 35px;
    width: 35px;
    padding: 6px;
    background: 0 0;
}

.cd-top {
    background: url(https://cdn.jsdelivr.net/gh/LIlGG/cdn@1.0.2/img/Sakura/images/scroll.png) no-repeat center;
}

.cd-top {
    position: fixed;
    right: 25px;
    top: -900px;
    z-index: 99;
    width: 70px;
    height: 900px;
    background-size: contain;
    transition: all .5s ease-in-out;
    opacity: 1;
}

.flipx {
	transform: scaleX(-1);
	filter: FlipH
}

.site-header {
	width: 100%;
	height: 75px;
	background: 0 0;
	transition: all .4s ease;
	position: fixed;
	z-index: 9999;
	top: 0
}

.pattern-center {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden
}

.pattern-center:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .3);
	z-index: 1;
}

.pattern-center:after {
	content: '';
	width: 150%;
	height: 4.375rem;
	background: #fff;
	left: -25%;
	bottom: -2.875rem;
	border-radius: 100%;
	position: absolute;
	z-index: 2;
}

.pattern-attachment-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-origin: border-box;
	width: 100%;
	height: 400px
}

.pattern-attachment-img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	pointer-events: none;
}

.pattern-center header.pattern-header {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 10px #000;
	z-index: 1
}

.pattern-center h1.cat-title,
.pattern-center h1.entry-title {
	color: #fff;
	font-size: 40px;
	font-weight: 500;
	width: 80%;
	margin: auto;
	padding: 0;
	border: 0
}

.pattern-center .cat-des {
	font-size: 16px;
	display: block
}

.single-center:after {
	display: none
}

.pattern-center header.single-header {
	max-width: 800px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	top: auto;
	bottom: 20px
}

.single-center .single-header h1.entry-title {
	margin: 0;
	font-size: 32px;
	width: 100%
}

.single-center .entry-census {
	color: #fff;
	font-size: 14px;
	padding: 18px 0 0;
	line-height: 39px
}

.single-center .entry-census .bull {
	margin: 0 5px
}

.single-center .entry-census span img {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	float: left;
	margin-right: 12px
}

.single-center .entry-census a {
	color: #fff
}

@media (max-width:860px) {
	.pattern-center header.single-header {
		padding: 0 4%;
		top: 45%;
	}

	.pattern-attachment-img {
		height: 280px
	}

	.pattern-center h1.cat-title,
	.pattern-center h1.entry-title,
	.single-center .single-header h1.entry-title {
		font-size: 26px;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}

	.single-center .single-header h1.entry-title {
		text-align: center;
	}

}

.pattern-center-sakura {
	position: relative;
	top: 0;
	left: 0;
	width: 800px;
	overflow: hidden;
	margin: 0 auto
}

.pattern-center-blank {
	padding-top: 75px;
	background-color: #fff
}

/*--------------------------------------------------------------
## header
--------------------------------------------------------------*/
@media (max-width:860px) {
	.pattern-center-sakura {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden
	}

	.pattern-center-blank {
		padding-top: 0
	}
}

.pattern-center-sakura:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .3);
	z-index: 1
}

.pattern-center-sakura header.pattern-header {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 10px #000;
	z-index: 1
}

.pattern-center-sakura h1.cat-title,
.pattern-center-sakura h1.entry-title {
	color: #fff;
	font-size: 40px;
	font-weight: 500;
	width: 80%;
	margin: auto;
	padding: 0;
	border: 0
}

.pattern-center-sakura .cat-des {
	font-size: 16px;
	display: block
}

.single-center:after {
	display: none
}

.pattern-center-sakura header.single-header {
	max-width: 800px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	top: auto;
	bottom: 20px
}

.single-center .single-header h1.entry-title {
	margin: 0;
	font-size: 32px;
	width: 100%
}

.single-center .entry-census {
	color: #fff;
	font-size: 14px;
	padding: 18px 0 0;
	line-height: 39px
}

.single-center .entry-census .bull {
	margin: 0 5px
}

.single-center .entry-census span img {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	float: left;
	margin-right: 12px
}

.single-center .entry-census a {
	color: #fff
}

@media (max-width:860px) {
	.pattern-center-sakura header.single-header {
		padding: 0 4%
	}

	.pattern-center-sakura h1.cat-title,
	.pattern-center-sakura h1.entry-title,
	.single-center .single-header h1.entry-title {
		font-size: 26px
	}
}

.site-header {
	width: 100%;
	height: 75px;
	background: 0 0;
	transition: all .4s ease;
	position: fixed;
	z-index: 9999;
	top: 0
}

.site-header:hover {
	background-color: #fff
}

.site-header.is-homepage .lower-cantiner {
	display: none
}

.site-header.is-homepage.yya .lower-cantiner {
	display: block
}

.site-header:hover.is-homepage .lower-cantiner {
	display: block
}

.yya {
	position: fixed;
	left: 0;
	background: rgba(255, 255, 255, .95);
	box-shadow: 0 1px 40px -8px rgba(0, 0, 0, .5)
}

.gizle {
	top: -100px;
	top: 0;
	z-index: 9999
}

.sabit {
	top: 0;
	z-index: 9999
}

.site-content:before,
.site-content:after,
.site-header:before,
.site-header:after{
    content: "";
	display: table;
	table-layout: fixed
}

.site-content:after,
.site-header:after{
    clear: both
}

.site-header.iconsearch {
	font-size: 18px;
	font-size: 1.125rem;
	position: relative;
	z-index: 9998
}

.site-header.iconsearch:hover {
	cursor: pointer;
	color: #999
}

.site-top {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding: 0 20px
}

.site-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block
}

.site-top ul li {
	float: left;
	margin: 0 13px;
	position: relative;
	transition: all 1s ease;
	-webkit-transition: all 1s ease
}

.site-top ul li a {
	padding: 10px 0;
	display: inline-block;
	color: #666;
	width: auto;
    white-space: nowrap;
}

.site-top ul li a:hover {
	color: orange
}

.site-top ul li a:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -16px;
	height: 6px;
	background-color: #fe9600;
	width: 100%;
	max-width: 0;
	transition: max-width .25s ease-in-out
}

.site-top ul li ul li a:after {
	content: "";
	display: none;
	position: absolute;
	bottom: -21px;
	height: 6px;
	background-color: #fe9600;
	width: 100%;
	max-width: 0;
	transition: max-width .25s ease-in-out
}

.site-top ul li a:hover:after {
	max-width: 100%
}

.site-branding {
	-webkit-animation: sitetop 1s;
	animation: sitetop 1s;
}

.site-top .lower-cantiner {
	position: absolute;
	text-align: center;
	left: -2%;
	min-width: 758.4px;
	pointer-events: none;
	width: 100%;
}

.site-top .lower {
	display: inline-block;
	margin: 15px 0 0 10px;
	font-size: 16px;
	position: relative;
	pointer-events: auto !important
}

.site-top .lower nav {
	position: relative;
	float: right;
	display: none;
	-webkit-animation: searchbox .2s;
	animation: searchbox .2s
}

.site-top .lower nav.navbar {
	display: block
}

.lower li ul {
	display: none;
	opacity: 1;
	position: absolute;
	background: #fff;
	padding: 10px;
	top: 46px;
	right: -50%;
	width: auto;
	text-align: center;
	z-index: 9999;
	border-radius: 5px;
	box-shadow: 0 1px 40px -8px rgba(0, 0, 0, .5);
	animation: fadeInUp .3s .1s ease both;
	-webkit-animation: fadeInUp .3s .1s ease both;
	-moz-animation: fadeInUp .3s .1s ease both
}

.lower li ul:before {
	content: "";
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #fff
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(10px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0)
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(10px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0)
	}
}

.lower li:hover ul {
	display: inline-block;
	transition: all .4s
}

.lower li ul li {
	width: 100%;
	margin: 0
}

@-webkit-keyframes sitetop {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes sitetop {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.site-branding {
	float: left;
	position: relative;
	height: 75px;
	line-height: 75px;
	margin-left: -6px
}

.site-title {
	margin: 0
}

.site-title a {
	color: #464646;
	font-weight: 400
}

.site-title a:hover {
	color: orange
}

.site-title img {
	height: 40px;
	margin-top: 17px;
	opacity: .75;
	transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out
}

.header-user-avatar {
	position: relative;
	float: right;
	margin-left: 20px;
	margin-top: 22px
}

.header-user-avatar img {
	border-radius: 100%;
	cursor: pointer;
	height: 30px;
}

.header-user-avatar:hover .header-user-menu {
	display: block
}

.header-user-menu {
	position: absolute;
	width: 110px;
	right: -11px;
	text-align: left;
	background: 0 0;
	top: 44px;
	display: none;
	overflow: hidden;
	-webkit-animation: header-user-menu .4s;
	animation: header-user-menu .4s;
	box-shadow: 0 1px 40px -8px rgba(0, 0, 0, .5);
	border-radius: 5px;
	text-align: center
}

.header-user-menu:before {
	content: "";
	position: fixed;
	top: 46px;
	right: 25px;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #fff
}

.herder-user-name {
	font-size: 12px;
	background: #fff;
	padding: 10px;
	border-radius: 4px 4px 0 0
}

.herder-user-name-u {
	font-weight: 700;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap
}

.searchbox {
	float: right;
	height: 75px;
	line-height: 75px;
	margin-left: 20px
}

.searchbox,
.site-top .lower,
.header-user-avatar {
	-webkit-animation: searchbox 1s;
	animation: searchbox 1s;
}

@-webkit-keyframes header-user-menu {
	0% {
		opacity: 0;
		transform: translateY(-20px)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes header-user-menu {
	0% {
		opacity: 0;
		transform: translateY(-20px)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@-webkit-keyframes searchbox {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes searchbox {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}



i.fa.fa-search.iconsearch {
	color: #666;
	cursor: pointer;
	font-size: 26px;
	transition: all .3s ease-in-out
}

i.fa.fa-search.iconsearch:hover{
    color: #fe9600
}

#nprogress {
	pointer-events: none;
	z-index: 99999;
	position: absolute
}

#nprogress .bar {
	background: orange;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px
}

#nprogress .peg {
	display: block;
	position: absolute;
	right: 0;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px orange, 0 0 5px orange;
	opacity: 1;
	transform: rotate(3deg) translate(0px, -4px)
}

#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 9999;
	top: 27px;
	right: 24px;
	left: inherit;
	width: auto;
	height: auto;
	margin: 0
}

#nprogress .spinner-icon {
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: solid 3px transparent;
	border-top-color: orange;
	border-left-color: orange;
	border-radius: 50%;
	-webkit-animation: nprogress-spinner .4s linear infinite;
	animation: nprogress-spinner .4s linear infinite
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

.notice {
	padding: 20px;
	border: 1px dashed #e6e6e6;
	color: #969696;
	position: relative;
	display: inline-block;
	width: 100%;
	background: #fbfbfb50;
	border-radius: 10px
}

.notice i {
	float: left;
	color: #999;
	font-size: 18px;
	padding-right: 10px
}

.notice-content {
	display: initial;
	vertical-align: middle
}

h1.fes-title,
h1.main-title {
	color: #666;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 5px;
	margin-bottom: 30px;
	border-bottom: 1px dashed #ececec
}

h1.fes-title,
h1.main-title {
	transition: color 1s;
	transition: border 1s;
}

i.fa.hotpost {
	font-size: 14px;
	color: #ff3b00
}

.post-list-thumb {
	float: left;
	width: 100%;
	height: 300px;
	position: relative;
	margin: 20px 0 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0 1px 20px -6px rgba(0, 0, 0, .5);
	opacity: 1;
	transition: box-shadow .3s ease
}

@media (min-width:860px) {
	.post-list-thumb:hover {
		box-shadow: 0 5px 10px 5px rgba(110, 110, 110, .4)
	}
}

@media (max-width:860px) {
	.post-list-thumb {
		margin: 0;
		height: auto
	}
}

.post-list-thumb i {
	margin-right: 5px;
	color: #989898;
	font-size: 14px
}

.post-list-thumb a {
color: #504e4e
}

.post-list-thumb .post-title h3 {
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
word-wrap: break-word
}

.post-list-thumb:hover img {
	transform: scale(1.1)
}

.comments-number {
	margin: 0 10px
}

.post-thumb {
	float: right;
	width: 55%
}

.post-thumb a {
	height: 300px;
	position: relative;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	border-radius: 0 10px 10px 0
}

.post-thumb a img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	pointer-events: none;
	transition: all .6s
}

.post-content-wrap {
	position: relative;
	display: inline-block;
	float: right;
	padding-right: 30px;
	padding-left: 0;
	width: 40%;
	margin: 20px 10px 0
}

.post-list-thumb-left .post-content-wrap {
	float: left;
	padding-left: 30px;
	padding-right: 0;
	text-align: right;
	margin: 20px 10px 10px 0
}

.post-list-thumb-left .post-thumb {
	float: left
}

.post-list-thumb-left .post-thumb a {
	border-radius: 10px 0 0 10px
}

.post-date,
.post-meta,
.post-meta a {
	color: #888;
	font-size: 12px
}


.float-content {
	position: relative;
	width: 100%;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 50;
	color: rgba(0, 0, 0, .66)
}

.float-content .post-text {
	display: inline-block;
	text-align: justify;
	font-size: 14px
}

.float-content i {
	font-size: 25px;
	color: #666
}

.float-content p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	height: 67.5px;
	overflow: hidden
}

@media (max-width:768px) {
	.float-content p {
		height: auto;
		display: block
	}

	.post-bottom {
		display: none
	}

	.post-list-thumb {
		padding: 0;
		border: 0;
		box-shadow: none
	}

	.post-thumb,
	.post-content-wrap,
	.float-content {
		width: 100%;
		left: 0
	}

	.post-content-wrap,
	.post-list-thumb-left .post-content-wrap {
		text-align: left;
		margin: 0;
		padding: 20px;
		float: none;
		box-shadow: none;
		border-top: 0
	}

	.post-list-thumb:before {
		content: '';
		width: 1px;
		height: 100px;
		background-color: rgba(0, 0, 0, 0);
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: -101px;
		z-index: 0
	}

	.float-content {
		box-shadow: none;
		padding: 0;
		margin: 0
	}

	.post-bottom {
		text-align: right
	}

	.post-list-thumb-left .post-thumb a,
	.post-thumb a {
		border-radius: 10px
	}
}

@media (max-width:600px) {
	.post-thumb a {
		height: 210px
	}

	.float-content .post-text {
		font-size: 13px;
		margin-bottom: 1em
	}
}


.post-content a:active, a:hover {
    outline: 0;
    color:orange
}

.post-bottom  a:hover i {
    outline: 0;
    color:orange;
	transition:color .2s ease-out, border .2s ease-out, opacity .2s ease-out
}


.nav-bottom {
	float: left;
	width: 100%;
	height: 50px;
	position: relative;
	margin: 20px 0;
	text-align:center;
}
.pagination a,
.pagination .current {
	outline: 0;
	border: 0;
	background-color: transparent;
	font-size: 0.9rem;
	padding: 0.5rem 0.75rem;
	line-height: 1.25;
	border-radius: 0.125rem;
	transition: background-color 0.2s ease-in-out;
}
.pagination a:hover,
.pagination .current {
	background-color: rgba(255, 166, 0, 0.418);
  }

@media screen and (max-width:860px) {
	.cd-top {
		display: none;
		height: 60px;
		width: 50px
	}

	.cd-top span {
		height: 10px;
		width: 50px
	}

	.m-cd-top {
		display: block;
	}
}

@media (max-width:860px) {
	.comments {
		max-width: 100% !important
	}

	.top-feature,
	.top-feature-row {
		display: none
	}

	.site-content {
		padding: 0 4%
	}

	.feature img {
		width: 52px;
		height: 52px
	}

	.post-list h1.entry-title {
		margin: 0 0 0 65px;
		font-size: 16px;
		line-height: 30px
	}

	.p-time {
		position: relative;
		margin: -15px 0 0 65px
	}

	.post-list p {
		margin: 20px 0 0 65px;
		font-size: 14px;
		height: 30px;
		overflow: hidden
	}

	.s-content {
		padding: 10px 15px;
		margin-right: 65px
	}

	.s-content p {
		margin-left: 0;
		margin-top: 0;
		height: 30px;
		overflow: hidden
	}

	.postava img {
		width: 52px;
		height: 52px
	}

	.overlay {
		display: none
	}

	.info-meta {
		display: none
	}

	.post-more {
		display: none
	}

	h1.entry-title {
		font-size: 18px;
		padding: 15px 0;
	}

	.entry-content p {
		font-size: 14px
	}

	.post-footer,
	.post-share,
	.post-like {
		display: none
	}

	.post-tags {
		text-align: center;
		float: none;
		font-size: 12px
	}

	.author-profile {
		display: none
	}

	.site-footer {
		padding: 30px
	}

	.lower {
		display: none !important
	}

	.m-nav {
		display: block
	}

	.site-header {
		display: none
	}

	.site-branding {
		float: right;
		height: 50px;
		line-height: 43px;
	}

	.site-title img {
		height: 40px;
		line-height: 40px;
		margin: 0;
		vertical-align: middle
	}

	.site-title {
		font-size: 20px;
		margin-right: 10px
	}

	.links ul li {
		width: 48.6%
	}

	.links ul li:before {
		display: none
	}

	.links ul li:hover .sitename {
		color: orange
	}

	.links ul li:hover .linkdes {
		color: #949494;
		border-top: 1px dashed #ddd
	}

	.author-box {
		display: none
	}

	#archives-temp {
		padding: 0 20px
	}
}

@media (max-width:860px) {
	#main-container {
		transition-duration: .5s;
		overflow: hidden;
		z-index: 2
	}

	#main-container.open:before {
		content: "";
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0, 0, 0, .4);
		z-index: 99
	}

	#main-container.open {
		transform: translateX(250px) translateY(0px);
		-webkit-transform: translateX(250px) translateY(0px);
		position: fixed;
		right: 0;
		left: 0
	}

	.wrapper {
		transition-duration: .5s;
		width: 100%;
		height: auto;
		position: relative
	}

	#mo-nav.open {
		width: 250px
	}

	.wrapper section {
		max-width: 600px
	}

	.wrapper section h1 {
		font-weight: 300;
		font-size: 30px;
		margin-bottom: 10px
	}

	.wrapper section h2 {
		font-weight: 300;
		font-size: 20px;
		margin-bottom: 40px
	}

	.wrapper section p {
		margin-bottom: 40px
	}

	.openNav {
		transition-duration: .5s;
		width: 100%;
		height: 50px;
		position: absolute;
		top: 0;
		z-index: 99999;
		display: block;
		background: 0 0
	}

	.iconflat {
		background: 0 0;
		width: 50px;
		height: 50px;
		float: left
	}

	.openNav .icon {
		transition-duration: .2s;
		position: absolute;
		width: 30px;
		height: 3px;
		background-color: #333;
		top: 24px;
		left: 10px
	}

	.openNav .icon:before,
	.openNav .icon:after {
		transition-duration: .5s;
		background-color: #333;
		position: absolute;
		content: "";
		width: 30px;
		height: 3px;
		left: 0
	}

	.openNav .icon:before {
		top: -8px
	}

	.openNav .icon:after {
		top: 8px
	}

	.openNav.open .icon {
		background-color: transparent
	}

	.openNav.open .icon:before,
	.openNav.open .icon:after {
		top: 0
	}

	.openNav.open .icon:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		background: orange;
	}

	.openNav.open .icon:after {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		background: orange;
	}

	#mo-nav {
		background-color: #fff;
		width: 0;
		max-width: 250px !important;
		height: 100%;
		z-index: 999;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		overflow-x: hidden !important;
		overflow-y: auto
	}

	#mo-nav .m-avatar {
		position: relative;
		width: 250px;
		max-width: 250px;
		height: auto;
		margin: 0 auto;
		padding: 30px 0 20px;
		text-align: center
	}

	#mo-nav .m-avatar img {
		width: 90px;
		height: 90px;
		max-width: 90px;
		border-radius: 100%
	}

	#mo-nav .social {
		margin: 0 10px;
	}

	#mo-nav .m-search form {
		position: relative;
		width: 250px;
		max-width: 250px;
		margin: 0 0 20px;
		padding: 8px 15px;
		background-color: #fafafa
	}

	#mo-nav .m-search input {
		width: 100%;
		border: 0;
		padding: 5px;
		text-align: center;
		border-radius: 3px;
		outline: none
	}

	#mo-nav ul {
		width: 200px;
		height: auto;
		margin: 10px 9px
	}

	#mo-nav ul:hover li {
		color: rgba(255, 255, 255, .5)
	}

	#mo-nav ul li {
		transition-duration: .25s;
		display: block;
		padding: 6px 40px;
		color: #fff;
		letter-spacing: .02em;
		text-align: left
	}

	#mo-nav ul li a {
		color: #333;
		font-size: 15px
	}

	#mo-nav li ul {
		width: 250px;
		margin: 10px 0;
		padding-left: 10px
	}

	#mo-nav li ul li {
		padding: 5px 9px
	}

	#mo-nav li ul li a {
		font-size: 13px;
		color: #9cacc5
	}

	#mo-nav ul li a:hover {
		cursor: pointer;
		color: orange
	}

	#mo-nav .m-footer {
		text-align: center;
		font-size: 13px;
		color: #b9b9b9;
		width: 100%;
		height: 20px;
	}

	.we-content li {
		height: 250px
	}

	.we-content {
		padding: 80px 1%
	}

	.we-icon {
		top: 30px
	}

	.wtitle {
		top: 110px
	}

	.sub-text {
		top: 150px
	}

	.works-list {
		width: 46.88%;
		margin: 0 1.5%
	}

	.works-main {
		height: 225px
	}

	.works-feature img {
		width: 100%;
		height: 225px
	}

	.works-entry {
		margin-bottom: 20px
	}
}


#mo-nav::-webkit-scrollbar {
	width: 0;
	opacity: 0
}

.post-footer {
	padding: 20px 0;
	border-bottom: 1px dashed #ddd;
	border-top: 1px dashed #ddd;
	margin-top: 30px;
	height: 82px
}

.post-lincenses {
	text-align: center;
	padding-bottom: 5px;
	font-size: 14px
}

.post-lincenses a:hover {
	color: #888
}

.post-lincenses a {
	color: #b3b3b3
}

.post-tags {
	float: left;
	font-size: 13px;
	color: #b3b3b3;
	text-transform: uppercase
}

.post-tags a {
	color: #b3b3b3;
	margin-right: 5px
}

.post-tags a:hover {
	color: orange
}

.post-tags i {
	margin-right: 5px
}

.entry-content .begin,
.single-begin {
	float: left;
	font-size: 3.6em;
	line-height: 1em;
	margin-right: 3px;
	margin-top: 2px;
	font-weight: 700
}

.entry-content code:not(.hljs) {
	background: #fefac7;
	color: #e67474;
	word-break: break-word;
	font-family: Source Code Pro, monospace;
	padding: 2px;
	text-shadow: none;
	border-radius: 5px;
}

@media screen and (max-width:860px) {

	.entry-content .begin,
	.single-begin {
		margin-top: 6px
	}
}

.entry-content ul {
	list-style: disc;
	border: 1px dashed #e4e4e4;
	padding: 15px 10px 15px 50px;
	color: #616161;
	margin-left: 0;
	border-radius: 10px
}

.entry-content ol {
	list-style: decimal;
	border: 1px dashed #e4e4e4;
	padding: 15px 10px 15px 50px;
	color: #616161;
	margin-left: 0;
	border-radius: 10px
}

.entry-content ol li,
.entry-content ul li {
	padding: 8px 0
}

.entry-content {
	position: relative
}

.entry-content h3 {
	padding-bottom: 8px;
	border-bottom: 1px dashed #ddd;
	color: #737373
}

.entry-content h3,
.entry-content h4,
.entry-content h5 {
	padding-left: 16px
}

.entry-content h2:after {
	content: "\00B6";
	position: absolute;
	color: #ff6d6d;
	font-family: 'Merriweather Sans', Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
	padding-left: 6px;
	font-size: 1.03em
}

.serif .entry-content h2:after {
	content: "\00B6";
	position: absolute;
	color: #ff6d6d;
	font-family: 'Merriweather Sans', Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
	padding-left: 6px;
	font-size: 1.13em
}

.entry-content h3:after {
	content: "#";
	left: 0;
	position: absolute;
	color: #ff6d6d
}

.entry-content h4:after {
	content: "▌";
	left: 0;
	position: absolute;
	color: #ff6d6d
}

.entry-content h5:after {
	content: "♯";
	left: 0;
	position: absolute;
	color: #ff6d6d
}

.entry-content a {
	color: #e67474;
	position: relative
}

.entry-content a:hover {
	color: orange;
	text-decoration: none
}

.entry-content a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: orange;
	transform-origin: bottom right;
	transition: transform .25s ease-out
}

.entry-content a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left
}

h1.entry-title {
	font-size: 24px;
	font-weight: 300
}

.entry-header h1.entry-title {
	margin: auto;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase
}

.entry-header h1.entry-title:before {
	content: "{";
	color: #f8ba0b;
	font-size: 1.5em;
	margin-right: 6px;
	vertical-align: sub
}

.entry-header h1.entry-title:after {
	content: "}";
	color: #f8ba0b;
	font-size: 1.5em;
	margin-left: 6px;
	vertical-align: sub
}

.entry-content p {
	color: #797979
}

.entry-content p {
	line-height: 30px
}

.entry-content hr {
	margin-top: 40px;
	margin-bottom: 40px;
	display: block;
	border: 0;
	text-align: center;
	background: 0 0
}

.entry-content hr:before {
	content: '...';
	display: inline-block;
	margin-left: .6em;
	color: rgba(0, 0, 0, .8);
	position: relative;
	top: -30px;
	font-size: 28px;
	letter-spacing: .6em
}

.entry-content .post-password-form {
	text-align: center
}

.table-wrapper::-webkit-scrollbar {
	height: 4px;
	width: 4px;
}

.table-wrapper::-webkit-scrollbar-track-piece {
	background: transparent;
}

.table-wrapper::-webkit-scrollbar-thumb {
	background: rgba(176, 176, 176, 0.4);
	cursor: pointer;
	border-radius: 2px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
	background: #b0b0b0;
}

.table-wrapper {
	overflow: auto;
}

.table-wrapper>table {
	border-collapse: collapse;
	overflow: auto;
	max-width: 100%;
	margin-right: 0.5rem;
	vertical-align: text-top;
}

.table-wrapper>table th {
	background-color: rgba(0, 0, 0, .1);
}

.table-wrapper>table tr {
	word-break: keep-all;
}

.table-wrapper>table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

.table-wrapper>table td,
.table-wrapper>table th {
	padding: 8px 16px;
	border: 1px solid #dfe2e5;
	line-height: 1.5;
	font-size: 90%;
}

.table-wrapper>table tbody>tr {
	transition: all 0.28s ease;
	-moz-transition: all 0.28s ease;
	-webkit-transition: all 0.28s ease;
	-o-transition: all 0.28s ease;
}

.table-wrapper>table tbody>tr:hover {
	background-color: rgba(0, 0, 0, .2);
}

.entry-header {
	margin: auto;
	text-align: left
}

.post .entry-header {
	text-align: center
}

.entry-census {
	font-size: 12px;
	margin: 0;
	color: #888
}

.entry-header hr {
	width: 30%;
	height: 1px;
	border: 0;
	background: #efefef;
	margin: 20px auto
}

.Extendfull img {
	width: 100%;
	border: 5px solid #f3f3f3
}

h1.page-title {
	font-size: 20px;
	font-weight: 400;
	border: 1px dashed #ddd;
	padding: 10px 15px;
	color: #828282;
	margin-bottom: 30px
}

h1.page-title.mb- {
	margin-top: 100px
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0
}

blockquote {
	margin: 0;
	padding: 30px 60px;
	position: relative
}

blockquote:before {
	content: "\f10d" !important;
	font-size: 3rem;
	position: absolute;
	top: -25px;
	left: 12px;
	color: orange;
	font-family: FontAwesome
}

blockquote:after {
	content: '\f10e' !important;
	font-size: 3rem;
	position: absolute;
	bottom: -25px;
	right: -5px;
	color: orange;
	font-family: FontAwesome
}

blockquote p {
	margin: 5px 0
}

.post-squares {
	overflow: hidden;
	width: 100%;
	margin: 55px 0;
	background: #000
}

.post-squares .background {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .4;
	background-size: cover;
	transition: opacity .15s ease-out
}

.post-squares .info {
	position: relative;
	z-index: 98
}

.post-squares article,
.post-squares a {
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	height: 100%;
	padding: 55px 25px;
	text-align: center
}

.post-squares article:hover>.background,
.post-squares a:hover>.background {
	opacity: .6
}

.post-squares .category {
	font-size: 10px;
	padding: 7px 15px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 90px;
	background: #7fbb00
}

.post-squares h3 {
	font-size: 17px;
	font-weight: 400;
	line-height: 30px;
	margin: 20px 0;
	color: #fff;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block
}

.post-squares h3 a {
	display: block;
	color: #fff
}

.post-squares hr {
	width: 15%;
	height: 0;
	border: 0;
	background: rgba(255, 255, 255, .6)
}

.post-squares .label {
	font-size: 13px;
	display: block;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .7)
}

.post-squares .full {
	width: 100%
}

.post-squares .half {
	width: 50%;
	float: left
}

.post-squares .third {
	width: 33.333%
}

@media (max-width:860px) {
	.post-squares .third {
		width: 100%
	}
}

@media (max-width:760px) {
	.post-squares .half {
		float: none;
		width: 100%
	}
}

@media (max-width:900px) {
	.post-squares.post-squares-featured {
		display: none
	}
}

.post-squares.nextprev article,
.post-squares.nextprev a {
	height: 150px;
	padding: 55px 40px;
	text-align: left
}

.post-squares.nextprev a {
	width: 100%
}

.post-squares.nextprev .label {
	position: absolute;
	z-index: 100;
	top: 0
}

.post-squares.nextprev .info {
	position: absolute;
	width: 70%
}

.post-squares.nextprev .next h3,
.post-squares.nextprev .previous h3 {
	font-size: 14px
}

.post-squares.nextprev .previous {
	text-align: left
}

.post-squares.nextprev .previous .info {
	bottom: 40px;
	left: 40px
}

.post-squares.nextprev .previous .label {
	top: 40px;
	left: 40px
}

.post-squares.nextprev .previous hr {
	float: left;
	margin: 0
}

.post-squares.nextprev .next .info {
	text-align: right
}

.post-squares.nextprev .next .info {
	right: 40px;
	bottom: 40px
}

.post-squares.nextprev .next .label {
	top: 40px;
	right: 40px
}

.post-squares.nextprev .next hr {
	float: right;
	margin: 0
}

@media (max-width:760px) {
	.post-squares.nextprev article {
		height: 150px;
		width: 100%
	}
}

.post-squares.post-squares-featured {
	height: 250px
}

.toc-container {
	z-index: 98;
	width: 200px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	transform: translateX(0);
	right: calc((100% - 950px - 250px)/2);
	position: absolute !important;
	top: 480px;
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px
}

.toc {
	position: -webkit-sticky;
	position: sticky;
	top: 100px
}

@media (max-width:860px) {
	.toc-container {
		display: none
	}
}

.toc {
	overflow-y: auto
}

.toc>.toc-list {
	overflow: hidden;
	position: relative
}

.toc>.toc-list li {
	list-style: none
}

.toc-list {
	margin: 0;
	padding-left: 10px
}

a.toc-link {
	color: currentColor;
	height: 100%
}

.is-collapsible {
	max-height: 1000px;
	overflow: hidden;
	transition: all .3s ease-in-out
}

.is-collapsed {
	max-height: 0
}

.is-position-fixed {
	position: fixed !important;
	top: 0
}

.is-active-link {
	font-weight: 700
}

.toc-link:before {
	background-color: #eee;
	content: ' ';
	display: inline-block;
	height: inherit;
	left: 0;
	margin-top: -1px;
	position: absolute;
	width: 2px
}

.is-active-link:before {
	background-color: orange !important
}

.highlight-wrap:before {
	content: " ";
	position: absolute;
	border-radius: 50%;
	background: #fc625d;
	width: 12px;
	height: 12px;
	left: 12px;
	margin-top: -18px;
	box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
	z-index: 2
}

.highlight-wrap {
	position: relative;
	background: #21252b;
	border-radius: 5px;
	font: 15px/22px "Microsoft YaHei", "Arial", Sans-Serif;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	text-shadow: none;
	color: #000;
	padding-top: 30px;
	box-shadow: 0 10px 30px 0px rgba(0, 0, 0, .4)
}

.highlight-wrap .copy-code {
	color: #fff;
	position: absolute;
	float: right;
	right: 10px;
	top: 0;
	padding-top: 4px;
	padding-right: 2px;
	z-index: 2;
	font-size: 16px
}

.highlight-wrap .copy-code:hover {
	color: rgba(255, 255, 255, .5)
}

.highlight-wrap .copy-code:after {
	display: none
}

.hljs-ln-line span::-moz-selection,
.hljs-ln-line::-moz-selection {
	background: #fff;
	color: #21252b
}

.hljs-ln-line span::-moz-selection,
.hljs-ln-line::-moz-selection {
	background: #fff;
	color: #21252b
}

.hljs-ln-line span::-moz-selection,
.hljs-ln-line::-moz-selection {
	background: #fff;
	color: #21252b
}

.hljs-ln-line span::-moz-selection, .hljs-ln-line::-moz-selection {
	background: #fff;
	color: #21252b
}

.hljs-ln-line span::selection,
.hljs-ln-line::selection {
	background: #fff;
	color: #21252b
}

.highlight-wrap code::-webkit-scrollbar {
	height: 10x !important;
	width: 10x !important;
	background-color: #1d1f21 !important
}

.highlight-wrap code::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3) !important;
	border-radius: 10px !important;
	background-color: #21252b !important
}

.highlight-wrap code::-webkit-scrollbar-thumb {
	border-radius: 10px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5) !important;
	background-color: #21252b !important
}

.highlight-wrap code {
	word-break: break-word;
	font-family: 'Source Code Pro', monospace, Helvetica, Tahoma, Arial, STXihei, "STHeiti Light", "Microsoft YaHei", sans-serif;
	text-shadow: none;
	border-radius: 0 0 5px 5px;
}

.highlight-wrap code[data-rel]:before {
	color: #fff;
	content: attr(data-rel);
	height: 30px;
	line-height: 30px;
	background: #21252b;
	font-size: 16px;
	position: absolute;
	margin-top: -30px;
	left: 0;
	width: 100%;
	font-family: Ubuntu, sans-serif;
	font-weight: 700;
	padding: 0 80px;
	text-indent: 15px;
	text-align: center;
	float: left;
	z-index: 1;
	border-radius: 5px 5px 0 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	pointer-events: none
}

.hljs-comment,
.hljs-quote {
	color: #888f96;
	font-style: italic
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
	color: #c678dd
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
	color: #e06c75
}

.hljs-literal {
	color: #56b6c2
}

.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
	color: #98c379
}

.hljs-built_in,
.hljs-class .hljs-title {
	color: #e6c07b
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
	color: #d19a66
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
	color: #61aeee
}

.hljs-emphasis {
	font-style: italic
}

.hljs-strong {
	font-weight: 700
}

.hljs-link {
	text-decoration: underline
}

.hljs-ln {
	margin: 6px 0 0 !important
}

td.hljs-ln-numbers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	color: #888f96;
	font-family: 'Source Code Pro', monospace, Helvetica, Tahoma, Arial, STXihei, "STHeiti Light", "Microsoft YaHei", sans-serif;
	vertical-align: top;
	position: absolute;
	left: 0;
	width: 30px
}

.hljs-ln-code .hljs-ln-line {
	margin-left: 25px;
	padding-left: 5px
}

.hljs-ln-code .hljs-ln-line:hover {
	background-color: rgba(255, 255, 255, .1)
}

.code-block-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	z-index: 9999999;
	margin: 0;
	-webkit-animation: elastic 1s;
	animation: elastic 1s;
}

.code-block-fullscreen code {
	--widthA: 100%;
	--widthB: calc(var(--widthA) - 30px);
	height: var(--widthB);
	min-height: 99%;
	overflow: auto;
}

.code-block-fullscreen-html-scroll {
	overflow: hidden
}

.chinese-font {
	font-family: 'Merriweather Sans', Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif
}

.chinese-tranditional-font {
	font-family: Helvetica, Tahoma, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif
}

.japanese-font {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
}

.english-serif {
	font-family: 'Noto Serif CJK SC', 'Noto Serif CJK', serif
}

.code-font {
	font-family: 'Source Code Pro', monospace
}

.Ubuntu-font {
	font-family: 'Ubuntu', sans-serif
}

.serif {
	font-family: 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc', 'PT Serif', 'SongTi SC', 'MicroSoft Yahei', Georgia, serif
}

@media (max-width:860px) {
	.serif {
		font-family: 'Merriweather Sans', Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif
	}
}

.error-img {
	text-align: center
}

.err-button.back {
	text-align: center
}

.err-button.back a {
	padding: 10px 30px;
	margin: 0 10px;
	border: 1px solid orange;
	color: orange;
	border-radius: 50px
}

#gohome {
	background: orange;
	color: #fff
}

.err-button.back a:hover {
	-o-box-shadow: 0 0 4px rgba(255, 165, 0, .85);
	box-shadow: 0 0 4px rgba(255, 165, 0, .85)
}

.s-search {
	position: relative;
	margin-bottom: 50px
}

.s-search input {
	font-size: 1rem;
	background: none;
	padding: 12px 24px 12px 64px;
	width: 100%;
	outline: none;
	border-radius: 50px;
	box-sizing: border-box
}

.s-search i {
	font-size: 32px;
	font-size: 1.5rem;
	line-height: 1;
	color: black;
	position: absolute;
	bottom: 12px;
	margin-top: -16px;
	left: 16px
}


html,
#main-container,
.pattern-center:after,
#mo-nav,
.headertop-bar::after,
.comments,
.site-footer,
.pattern-center-blank,
.yya,
.blank,
.toc,
.search-form input,
.wrapper,
.site-footer,
.site-wrapper,
#moblieGoTop:hover,
#changskin:hover,
.post-list-show,
.post-list hr,
.post-date,
.float-content i:hover {
	transition: background 1s;
}

.entry-content p,
.entry-content ul,
.entry-content ol,
.comments .body p,
.float-content,
.post-list p,
.link-title {
	transition: color 1s;
}

.entry-content p,
.entry-content ul,
.entry-content ol,
.comments .body p,
.float-content,
.post-list p,
.link-title {
	transition: color 1s;
}