#content {
	-webkit-animation: main 1s;
	animation: main 1s;
}

@-webkit-keyframes main {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes main {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.site-content {
	max-width: 800px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent !important
}

.site-main{
    display: block;
    padding: 40px 0 0
}



::-webkit-scrollbar-thumb {
    background: #fe9600
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color:#eee
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

body{
    margin: 0;
}

.serif {
    font-family: 'Noto Serif SC','Source Han Serif SC','Source Han Serif',source-han-serif-sc,'PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif;
}

* {
    box-sizing: border-box;
}

a {
    color: #e67474;
    outline: 0;
    transition:color .2s ease-out, border .2s ease-out, opacity .2s ease-out
}

a:active, a:focus, a:hover {
    color:orange
}

a:focus {
    outline:0
}

a:active, a:hover {
    outline: 0;
    color:orange
}

a {
	background-color: transparent;
	text-decoration: none;
}

#centerbg{
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    background-position: center center;
    padding-top: 1px;
}

#centerbg::before{
    content:" ";
    background-image: url("/img/grid.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-attachment: fixed;
}

@media (max-width:860px) {
	#centerbg {
		height: 300px;
		background-attachment: scroll
	}

	.focusinfo,
	#video-container {
		display: none
	}
}

.focusinfo {
    position: relative;
    max-width: 800px;
    padding: 0 10px;
    top: 49.3%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
    z-index: 99;
    transition: .4s ease all;
}

.center-text {
    margin: auto;
    font-size:80px;
    font-family: Ubuntu,sans-serif;
    font-weight: bold;
}

.glitch {
    position: relative;
    color: #fff;
    mix-blend-mode: lighten;
    overflow: hidden;
    white-space:nowrap
}

.glitch:after, .glitch:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    clip:rect(0, 0, 0, 0);
    height: 100%;
    z-index: 3;
}

.glitch:before {
    left: -1px;
    text-shadow:1px 0 #ff3f1a
}

.glitch:after {
    left: 1px;
    text-shadow:-1px 0 #00a7e0
}

.glitch:hover:before {
    text-shadow: 4px 0 #ff3f1a;
    animation:glitch-loop-1 .8s infinite ease-in-out alternate-reverse
}

.glitch:hover:after {
    text-shadow: -5px 0 #00a7e0;
    animation:glitch-loop-2 .8s infinite ease-in-out alternate-reverse
}

@-webkit-keyframes glitch-loop-1 {
    0% {
        clip:rect(36px, 9999px, 9px, 0)
    }

    25% {
        clip:rect(25px, 9999px, 99px, 0)
    }

    50% {
        clip:rect(50px, 9999px, 102px, 0)
    }

    75% {
        clip:rect(30px, 9999px, 92px, 0)
    }

    100% {
        clip:rect(91px, 9999px, 98px, 0)
    }
}

@keyframes glitch-loop-1 {
    0% {
        clip:rect(36px, 9999px, 9px, 0)
    }

    25% {
        clip:rect(25px, 9999px, 99px, 0)
    }

    50% {
        clip:rect(50px, 9999px, 102px, 0)
    }

    75% {
        clip:rect(30px, 9999px, 92px, 0)
    }

    100% {
        clip:rect(91px, 9999px, 98px, 0)
    }
}

@-webkit-keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip:rect(65px, 9999px, 119px, 0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip:rect(79px, 9999px, 19px, 0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip:rect(68px, 9999px, 11px, 0)
    }

    75% {
        top: 0;
        left: -4px;
        clip:rect(95px, 9999px, 53px, 0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip:rect(31px, 9999px, 149px, 0)
    }
}

@keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip:rect(65px, 9999px, 119px, 0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip:rect(79px, 9999px, 19px, 0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip:rect(68px, 9999px, 11px, 0)
    }

    75% {
        top: 0;
        left: -4px;
        clip:rect(95px, 9999px, 53px, 0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip:rect(31px, 9999px, 149px, 0)
    }
}

.header-info {
    width: 63%;
    margin: auto;
    font-size: 16px;
    color: #eaeadf;
    background: rgba(0,0,0,.5);
    padding: 15px;
    margin-top: 22px;
    letter-spacing: 0;
    line-height: 30px;
    border-radius: 10px;
    box-sizing: initial;
    white-space: nowrap;
}

.header-info p {
    margin: 0;
    font-family: Ubuntu,sans-serif;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
}

.focusinfo img {
    width: 130px;
    height: auto;
    padding: 2px;
    border-radius: 100%;
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform:translateY(0)
    }

    50% {
        -webkit-transform: translateY(-6px);
        transform:translateY(-6px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform:translateY(0)
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform:translateY(0)
    }

    50% {
        -webkit-transform: translateY(-6px);
        transform:translateY(-6px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform:translateY(0)
    }
}

.faa-float.animated, .faa-float.animated-hover:hover, .faa-parent.animated-hover:hover>.faa-float {
    -webkit-animation: float 2s linear infinite;
    animation: float 2s linear infinite;
}

.headertop-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    cursor: pointer;
    z-index: 5;
}

@media (max-width:860px) {
	.headertop-down {
		display: none
	}
}

.headertop-down i {
    font-size: 28px;
    color: #fff;
    transform: scale(1.5,1);
}

.site-footer {
    padding: 2%;
    background: rgba(255,255,255,.8);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.site-footer::before{
    content: '';
    display: table;
    table-layout: fixed;
}

.site-info {
    text-align: center;
    font-size: 13px;
    color: #b9b9b9;
}

.site-info a{
    color: #b9b9b9;
}

.site-info a:hover{
    color: #fe9600;
}

@keyframes poi-deg {
    0% {
        transform:rotate(0)
    }

    100% {
        transform:rotate(360deg)
    }
}

@-webkit-keyframes poi-deg {
    0% {
        transform:rotate(0)
    }

    100% {
        transform:rotate(360deg)
    }
}

.footertext .foo-logo {
    width: 30px;
    height: 30px;
    opacity: .3;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: poi-deg 12s infinite linear;
    -webkit-animation: poi-deg 12s infinite linear;
}

.top-social_v2 {
    height: 32px;
    margin-bottom: -15px;
    margin-left: 10px;
    list-style: none;
    display: inline-block;
}

.top-social_v2 li {
    float: left;
    margin-right: 13px;
}

.top-social_v2 img {
    font-size: 24px;
    height: 35px;
    width: 35px;
    padding: 6px;
    background: 0 0;
}

.cd-top {
    background: url(https://cdn.jsdelivr.net/gh/LIlGG/cdn@1.0.2/img/Sakura/images/scroll.png) no-repeat center;
}

.cd-top {
    position: fixed;
    right: 25px;
    top: -900px;
    z-index: 99;
    width: 70px;
    height: 900px;
    background-size: contain;
    transition: all .5s ease-in-out;
    opacity: 1;
}

.flipx {
	transform: scaleX(-1);
	filter: FlipH
}

.site-header {
	width: 100%;
	height: 75px;
	background: 0 0;
	transition: all .4s ease;
	position: fixed;
	z-index: 9999;
	top: 0
}

.site-header:hover {
	background-color: #fff
}

.site-header.is-homepage .lower-cantiner {
	display: none
}

.site-header.is-homepage.yya .lower-cantiner {
	display: block
}

.site-header:hover.is-homepage .lower-cantiner {
	display: block
}

.yya {
	position: fixed;
	left: 0;
	background: rgba(255, 255, 255, .95);
	box-shadow: 0 1px 40px -8px rgba(0, 0, 0, .5)
}

.gizle {
	top: -100px;
	top: 0;
	z-index: 9999
}

.sabit {
	top: 0;
	z-index: 9999
}

.site-content:before,
.site-content:after,
.site-header:before,
.site-header:after{
    content: "";
	display: table;
	table-layout: fixed
}

.site-content:after,
.site-header:after{
    clear: both
}

.site-header.iconsearch {
	font-size: 18px;
	font-size: 1.125rem;
	position: relative;
	z-index: 9998
}

.site-header.iconsearch:hover {
	cursor: pointer;
	color: #999
}

.site-top {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding: 0 20px
}

.site-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block
}

.site-top ul li {
	float: left;
	margin: 0 13px;
	position: relative;
	transition: all 1s ease;
	-webkit-transition: all 1s ease
}

.site-top ul li a {
	padding: 10px 0;
	display: inline-block;
	color: #666;
	width: auto;
    white-space: nowrap;
}

.site-top ul li a:hover {
	color: orange
}

.site-top ul li a:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -16px;
	height: 6px;
	background-color: #fe9600;
	width: 100%;
	max-width: 0;
	transition: max-width .25s ease-in-out
}

.site-top ul li ul li a:after {
	content: "";
	display: none;
	position: absolute;
	bottom: -21px;
	height: 6px;
	background-color: #fe9600;
	width: 100%;
	max-width: 0;
	transition: max-width .25s ease-in-out
}

.site-top ul li a:hover:after {
	max-width: 100%
}

.site-branding {
	-webkit-animation: sitetop 1s;
	animation: sitetop 1s;
}

.site-top .lower-cantiner {
	position: absolute;
	text-align: center;
	left: -2%;
	min-width: 758.4px;
	pointer-events: none;
	width: 100%;
}

.site-top .lower {
	display: inline-block;
	margin: 15px 0 0 10px;
	font-size: 16px;
	position: relative;
	pointer-events: auto !important
}

.site-top .lower nav {
	position: relative;
	float: right;
	display: none;
	-webkit-animation: searchbox .2s;
	animation: searchbox .2s
}

.site-top .lower nav.navbar {
	display: block
}

.lower li ul {
	display: none;
	opacity: 1;
	position: absolute;
	background: #fff;
	padding: 10px;
	top: 46px;
	right: -50%;
	width: auto;
	text-align: center;
	z-index: 9999;
	border-radius: 5px;
	box-shadow: 0 1px 40px -8px rgba(0, 0, 0, .5);
	animation: fadeInUp .3s .1s ease both;
	-webkit-animation: fadeInUp .3s .1s ease both;
	-moz-animation: fadeInUp .3s .1s ease both
}

.lower li ul:before {
	content: "";
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #fff
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(10px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0)
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(10px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0)
	}
}

.lower li:hover ul {
	display: inline-block;
	transition: all .4s
}

.lower li ul li {
	width: 100%;
	margin: 0
}

@-webkit-keyframes sitetop {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes sitetop {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.site-branding {
	float: left;
	position: relative;
	height: 75px;
	line-height: 75px;
	margin-left: -6px
}

.site-title {
	margin: 0
}

.site-title a {
	color: #464646;
	font-weight: 400
}

.site-title a:hover {
	color: orange
}

.site-title img {
	height: 40px;
	margin-top: 17px;
	opacity: .75;
	transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out
}

.header-user-avatar {
	position: relative;
	float: right;
	margin-left: 20px;
	margin-top: 22px
}

.header-user-avatar img {
	border-radius: 100%;
	cursor: pointer;
	height: 30px;
}

.header-user-avatar:hover .header-user-menu {
	display: block
}

.header-user-menu {
	position: absolute;
	width: 110px;
	right: -11px;
	text-align: left;
	background: 0 0;
	top: 44px;
	display: none;
	overflow: hidden;
	-webkit-animation: header-user-menu .4s;
	animation: header-user-menu .4s;
	box-shadow: 0 1px 40px -8px rgba(0, 0, 0, .5);
	border-radius: 5px;
	text-align: center
}

.header-user-menu:before {
	content: "";
	position: fixed;
	top: 46px;
	right: 25px;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #fff
}

.herder-user-name {
	font-size: 12px;
	background: #fff;
	padding: 10px;
	border-radius: 4px 4px 0 0
}

.herder-user-name-u {
	font-weight: 700;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap
}

.searchbox {
	float: right;
	height: 75px;
	line-height: 75px;
	margin-left: 20px
}

.searchbox,
.site-top .lower,
.header-user-avatar {
	-webkit-animation: searchbox 1s;
	animation: searchbox 1s;
}

@-webkit-keyframes header-user-menu {
	0% {
		opacity: 0;
		transform: translateY(-20px)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes header-user-menu {
	0% {
		opacity: 0;
		transform: translateY(-20px)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@-webkit-keyframes searchbox {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes searchbox {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}



i.fa.fa-search.iconsearch {
	color: #666;
	cursor: pointer;
	font-size: 26px;
	transition: all .3s ease-in-out
}

i.fa.fa-search.iconsearch:hover{
    color: #fe9600
}

#nprogress {
	pointer-events: none;
	z-index: 99999;
	position: absolute
}

#nprogress .bar {
	background: orange;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px
}

#nprogress .peg {
	display: block;
	position: absolute;
	right: 0;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px orange, 0 0 5px orange;
	opacity: 1;
	transform: rotate(3deg) translate(0px, -4px)
}

#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 9999;
	top: 27px;
	right: 24px;
	left: inherit;
	width: auto;
	height: auto;
	margin: 0
}

#nprogress .spinner-icon {
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: solid 3px transparent;
	border-top-color: orange;
	border-left-color: orange;
	border-radius: 50%;
	-webkit-animation: nprogress-spinner .4s linear infinite;
	animation: nprogress-spinner .4s linear infinite
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

.notice {
	padding: 20px;
	border: 1px dashed #e6e6e6;
	color: #969696;
	position: relative;
	display: inline-block;
	width: 100%;
	background: #fbfbfb50;
	border-radius: 10px
}

.notice i {
	float: left;
	color: #999;
	font-size: 18px;
	padding-right: 10px
}

.notice-content {
	display: initial;
	vertical-align: middle
}

h1.fes-title,
h1.main-title {
	color: #666;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 5px;
	margin-bottom: 30px;
	border-bottom: 1px dashed #ececec
}

h1.fes-title,
h1.main-title {
	transition: color 1s;
	transition: border 1s;
}